{{!-- Partials Header--}}
{{>header}}
<form id="search-container">
    <input type="text" id="search" placeholder="Enter Location">
    <button id="searchBtn">Search</button>
</form>

<div id="weather-info">
<p class="place"></p>
<p class="summary"></p>
</div>


{{>footer}}
<script src="/js/script.js"></script>
</body>

</html>
{{!-- Partials Footer --}}