body {
    color: rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 650px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav a {
    text-decoration: none;
    margin-right:16px;
    color: #888888;
    font-size: 1.1rem;
}
h1{
    font-size: 65px;
    display: inline-block;
    margin-bottom: 15px;
   
}

p {
    color: rgb(143, 139, 139)
}

.profilePic {
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 10px #504f4f;
}

main{
    flex-grow: 1;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}

footer {
    position: relative;
    bottom: 0;
    border-top:1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}


/* Index Style  */

.search-container , #search{
display: inline-block;
}

.msg1 {
    color: rgb(46, 45, 45)
}

#search{
    padding: 10px;
    border: 3px solid gray; 
}
#searchBtn{
    padding: 12px;
    background: #eeeeee;
    color: rgb(46, 45, 45);
    border: 1px solid rgb(182, 182, 182);
}
#searchBtn:hover{
    cursor: pointer;
    background: gray;
    color: white;
    transition: .2s;
}